@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700i;700&display=swap');

$text-pink:#c32b78;
$bg-pink:#c32b78;
$bg-blue:#182865;
$bg-white:#ffffff;
$text-white:#ffffff;
$text-grey: #444444;

@mixin btn {
    color: $text-white;
    background-color: $bg-pink;
    border:2px solid $bg-pink;
    border-radius: 50px;
    font-weight: 700;
    width: 140px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}

*{
    box-sizing: border-box;
}
body{margin: 0;padding: 0;font-size: 16px;line-height: normal;font-weight: 400;color: $text-grey;font-family: 'Roboto', sans-serif;overflow-x: hidden;background-color: #fcfcfc;}
img{border: none;height: auto;max-width: 100%;vertical-align: middle;transition: all 0.5s ease-in-out 0s;}
ul{padding: 0;margin: 0;list-style: none;}
a{color: $text-grey; text-decoration: none;}
h1, h2, h3, h4, h5, h6, p{margin: 0; padding: 0;}
h3{font-size: 32px;}
.wrap{width: 100%;max-width: 1170px;padding: 0 15px;margin:0 auto;}

header{
    width:100%;
    float: left;
    padding: 15px 0;
    background-color:$bg-white ;
    .logo{
        float: left;
        color: $text-pink;
        font-size: 30px;
        font-style: italic;
        letter-spacing: -1.5px;
        font-weight: 700;
    }
    .right{
        float: right;
        .menu{
            display: inline-block;
            li{
                display: inline-block;
                a{
                    display: block;
                    color:$text-grey;
                    font-weight: 700;
                    margin: 0 20px;
                    &:hover{
                        color: $text-pink;
                    }
                    @media (max-width:1024px){
                      margin:0 10px;
                    }  
                }
            }
        }
        .login{
            display: inline-block;
            margin-left: 20px;
            @include btn();
            transition: all 0.5s ease-in-out 0s;
            &:hover{
                background: none;
                color: $text-pink;
            }
        }
        .menu_btn{
            float:right;
            margin:5px 0 0 10px;
            cursor: pointer;
            display:none;
        }
    }
}

.banner{
    width:100%;
    float: left;
    background-color:$bg-blue;
    background-image: linear-gradient(to bottom, #182764, #414f84);
    color:$text-white;
    text-align: center;
    padding:70px 0px;
    small{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
        margin: 15px 0 30px;
        font-weight: 700;
        @media (max-width:1024px){
            font-size: 35px;
            margin: 14px 0 26px;
        } 
    }
    h6{
        font-size:20px;
        font-weight: 400;
    }
}

.serach_outer{
    width:100%;
    float: left;
    margin-top: -40px;
    .wrap{
        max-width: 750px;
        .serach_box{
            background-color:$bg-white ;
            width: 100%;
            float: left;
            padding: 20px 30px;
            border-radius: 50px;
            box-shadow:0 0 30px rgba(0,0,0,.1);
            .input_box{
                width: 40%;
                float: left;
                padding-right:20px;
                label{
                    display: block;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                input[type="text"]{
                    border:none;
                    width: 100%;
                    font-size: 13px;
                    &:focus{
                        border:none;
                        outline: none;
                        border-bottom: 1px solid;
                    }
                }
            }
            .mid{
                position: relative;
                padding-left: 20px;
                &:before{
                    content: "";
                    width:1px;
                    height:30px;
                    background-color:$bg-blue;
                    position: absolute;
                    left: -2px;
                    top: 5px;
                    opacity: 0.4;
                }
            }
            .right{
                width:20%;
                float: right;
                input[type="submit"]{
                    @include btn();
                    cursor: pointer;
                    transition: all 0.5s ease-in-out 0s;
                    &:hover{
                        background: none;
                        color: $text-pink;
                    }
                }
            }
        }
    }
}

.partner{
    width:100%;
    float: left;
    text-align: center;
    margin:50px 0 100px;
    h2{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    ul{
        width:100%;
        display: flex;
        justify-content: center;
    }
}

.media_info{
    width:100%;
    float: left;
    text-align: center;
    margin-bottom:80px;
    .info_cell{
        width:33.33%;
        float: left;
        margin-top: 40px;
        padding:0 40px;
        h5{
            font-size: 18px;
            margin:10px 0;
        }
    }
}

.success{
    width: 100%;
    float: left;
    position: relative;
    padding: 60px 0;
    &:after{
        width: 100%;
        position: absolute;
        background: #f0f3ff;
        height:350px;
        top:0;
        left:0;
        z-index: -1;
        content: "";
    }
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
    .outer{
        margin:0 -15px;
        .success_sec{
            width: 33.33%;
            float: left;
            padding:0 15px;
            .inner{
                width:100%;
                figure{
                    margin:0;
                    img{
                        width: 100%;
                    }
                }
                .content{
                    background-color: $bg-white;
                    padding:30px 20px;
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
                    h5{
                        font-size: 20px;
                        margin-bottom: 15px;
                    }
                    ul{
                        padding: 0 0 0 15px;
                        li{
                            padding:0 0 12px 0;
                            list-style:disc;
                        }
                    }
                }
            }
        }
    }
}

.company{
    width:100%;
    float: left;
    padding:50px 0;
    text-align: center;
    h3{
        margin-bottom: 30px;
    }
    .owl-stage{
        display: flex;
        align-items: center;
    }
    ul{
        li{
            display: inline-block;
            padding: 0 30px;
            img{
                filter: grayscale(100%);
                cursor: pointer;
                &:hover{
                    filter: grayscale(0%);
                }
            }
        }
        .owl-nav{
            color: $bg-blue;
            .owl-prev{
                position: absolute;
                left: -15px;
                top: 33px;
                span{
                    font-size: 30px;
                }
            }
            .owl-next{
                position: absolute;
                right: -15px;
                top: 33px;
                span{
                    font-size: 30px;
                }
            }
        }
    }
}

footer{
    width:100%;
    float: left;
    padding: 30px 0;
    background: $bg-blue;
    color: $text-white;
    .left{
        float: left;
        p{
            font-weight: 700;
            font-size: 14px;
            margin-top:15px;
        }
    }
    .social{
        float: right;
        margin-top: 10px;
        li{
            display: inline-block;
            margin-right: 12px;
            a{
                width: 30px;
                line-height: 30px;
                border-radius: 50%;
                display: block;
                color:$text-white;
                background: #334075;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width:1024px){
    h3{font-size:30px;}
    .partner{
        margin:50px 0 80px;
    }
    .company{
        padding:30px 0;
        ul{
            padding:0 15px;
            .owl-nav{
                .owl-prev{
                    left:-5px;
                }
                .owl-next{
                    right:-5px;
                }
            } 
        }
    }
}

@media only screen and (max-width:767px){
    h3 {
        font-size: 26px;
    }

    header{
        .logo{
            font-size: 26px;
            margin-top: 2px;
        }
        .right{
            .menu{
                display: block;
                position: fixed;
                top: 69px;
                width:100%;
                display:none;
                z-index: 9;
                left:0;
                background: $bg-pink;
                li{
                    width: 100%;
                    a{
                        margin: 0;
                        padding: 12px 15px;
                        color:$text-white;
                        border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
                        font-weight: 400;
                        &:hover{
                            color:$text-white;
                            background: $bg-blue;
                        }
                    }
                }
            }
            .login{
                width: 120px;
                line-height: 35px;
            }
            .menu_btn{
                display:block;
            }
        }
    }

    .banner{
        padding: 50px 0px;
        small, h6{
            font-size:16px;
        }
        h1{
            font-size: 30px;
            margin: 13px 0 20px;
        }
    }

    .serach_outer{
        margin-top:0;
        .wrap{
            max-width: 100%;
            padding: 0;
            .serach_box{
                border-radius:0;
                padding:20px;
                background: #f0f3ff;
                .input_box{
                    width:100%;
                    input[type="text"]{
                        background: #f0f3ff;
                    }   
                }
                .mid{
                    padding: 15px 0 0 0px;
                    border-top: 1px dashed #182865;
                    margin: 15px 0;
                    &:before{
                        display:none;
                    }   
                } 
                .right{
                    width:100%;
                    input[type="submit"]{
                        width:100%;
                    }
                }
            }
        }
    }

    .partner{
        margin:40px 0;
    }
    .media_info {
        margin-bottom:50px;
        .info_cell{
            width: 50%;
            padding:0 10px;
        }
    }

    .success{
        background: #f0f3ff;
        padding:40px 0 10px;
        &:after{
            display:none;
        }
        .outer {
            .success_sec{
                width:100%;
                margin-bottom: 30px;
            }
        }
    }

    .company{
        padding:30px 0 10px;
        h3{
            margin-bottom:20px;
        }
         ul{ 
            li{
                padding:0 10px;
            }
        }
    }

    footer{
        text-align: center;
        .left{
            width:100%;
            p{
                margin: 10px 0;
            }
        }
        .social{
            width:100%;
        }
    }
}